<div class="float-input {{class}} {{#if readonly}}float-input_readonly{{/if}}">
	<input
		type="{{type}}"
		class="float-input__element"
		placeholder=" "
		id="{{id}}"
			{{#if readonly}}readonly{{/if}}
		value="{{value}}"
	>
	<label for="{{id}}">{{label}}</label>
</div>
