<div
	class="profile__image {{ class }} {{#if size}} profile__image_{{size}}{{/if}}"
	role="button"
	tabindex="0"
	aria-label="Изменить фото профиля"
	itemscope
	itemtype="https://schema.org/ImageObject"
>
	{{#if imgUrl}}
	<img src="{{imgUrl}}" alt="Аватар пользователя" itemprop="contentUrl" class="profile__photo">
	{{else}}
	{{{ defaultAvatar }}}
	{{/if}}
	<div class="profile__overlay">
		<span class="profile__text">Поменять аватар</span>
	</div>
</div>
